header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 70%;
}

.title {
  display: flex;
  align-items: baseline;
}

.summary {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-basis: 100%;
}

p div .summary {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  flex-grow: 1;
  flex-basis: 45%;
}

.related-content {
  flex-grow: 1;
  flex-basis: 20%;
}
