* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav ul {
  display: flex;
  gap: 40px;
  padding: 20px;
  background-color: darkslateblue;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 5px;
}
